var check_button = (button) => {
  $(button).css("color", "red");
};

var uncheck_button = (button) => {
  $(button).css("color", "black");
};

var update_link = (form, data) => {
  if (data.type == "delete") {
    $(form).attr("method", "post")
    $(form).attr("action", `/api/v1/votes.${data.review}?review_id=${data.review}&amp;user_id=${data.user}`)
    $(`#vote_form_${data.review} input[name='_method']`).remove()
  } else {
    $(form).attr("method", "put")
    $(form).attr("action", `/api/v1/votes/1?review_id=${data.review}&amp;user_id=${data.vote.user_id}`)
  }
}

var add_delete_button = (form, data) => {
  $(form).append(`<input type='submit' name='commit' value='Delete Vote' class='delete_vote' id='delete_vote${data.review}' method='delete' remote='true' data-disable-with='Delete Vote'>`)
}


$(document).ready(function() {
  return $(".vote_form").on("ajax:success", function(e, data, status, xhr) {
    // alert("BUTTON PRESSED: Thanks for your vote!");
    var new_score = data.score

    update_link(`#vote_form_${data.review}`, data)
    if (data.type == "delete") {
      uncheck_button(`#vote_button_down_${data.review}`);
      uncheck_button(`#vote_button_up_${data.review}`);
    } else if (data.vote.vote > 0) {
      check_button(`#vote_button_up_${data.review}`);
      uncheck_button(`#vote_button_down_${data.review}`);
    } else {
      check_button(`#vote_button_down_${data.review}`);
      uncheck_button(`#vote_button_up_${data.review}`);
    }
    return $(`#score_${data.review}`).text(new_score);

  }).on("ajax:error", function(e, xhr, status, error) {
    // return $("#score_" + data.id).append("<p>ERROR</p>");
  });
});
